{% extends 'base.html' %}
{% block title %}
    Công ty ???
{% endblock %}
{% block content %}
    <main>
        <!-- First Section: Heading lines and image -->
        <section id="intro" class="section scrollspy full-height text-center">
          <div class="overlay"></div>
            <div class="col-xl-12 p-lg-5 mx-auto my-5">
                <div class="caption text-center">
                  <h1 style="color:#ffffff">Công ty gì gì đấy</h1>
                  <h5 style="color:#ffffff">Content gì gì đấy <span class="typing" style="font-weight: 300; color:#00284d"></span></h5>
                <div class='buttons'>
                  <a href="{{ url_for('catalog_page') }}" class="readme">Sản phẩm</a>
                  <a href="{{ url_for('about_page') }}" class="contactme">Liên hệ</a>
                </div>
              </div>
          </div>
        </section>
        <!-- First Section: Heading lines and image -->
        <section id="skills" class="section scrollspy">
          <div class="overlay"></div>
            <div class="col-xl-12 p-lg-5 mx-auto">
                <div class="caption text-center">
                  <h5 style="color:#ffffff">More Content gì gì đấy</h5>
                </div>
              </div>
          </div>
        </section>

    </main>

{% endblock %}