{% extends 'base.html' %}
{% block title %}
Tài liệu tham khảo
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px; margin-right:20px">
    <div class="col">
        <h2>Các văn bản pháp luật sử dụng</h2>
        <br>
       <table class="table table-hover center table table-bordered" style="width:100%" align="center">
          <thead>
             <tr>
                <th scope="col" style="width:40%" class="text-center">Tên văn bản</th>
                <th scope="col" style="width:10%" class="text-center">Số hiệu</th>
                <th scope="col" style="width:12.5%" class="text-center">Cơ quan ban hành</th>
                <th scope="col" style="width:12.5%" class="text-center">Ngày ban hành</th>
                <th scope="col" style="width:12.5%" class="text-center">Ngày hiệu lực</th>
                <th scope="col" style="width:12.5%" class="text-center">Tình trạng</th>
             </tr>
          </thead>
          <tbody>
             <tr>
                <td> Bộ luật lao động </td>
                <td class="text-center"> 45/2019/QH14 </td>
                <td class="text-center"> Quốc hội </td>
                <td class="text-center"> 20/11/2019 </td>
                <td class="text-center"> 01/01/2021 </td>
                <td class="text-center"> Còn hiệu lực </td>
             </tr>
             <tr>
               <td> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
            </tr>
            <tr>
               <td> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
            </tr>
            <tr>
               <td> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
               <td class="text-center"> </td>
            </tr>                 
          </tbody>
       </table>
    </div>
 </div>
{% endblock %}